h1 {
    font-size: 30px;
    color: green;
    font-style: oblique;
    text-decoration: underline
    
}

p{
    color:purple;
    font-size: 15px;
    font-style: oblique;
    
}

h2{
    font-size: 15px;
    font-style: bold;
    text-decoration: bold;
    color:rgb(126, 28, 96);
    text-align: center;
    font-family: sans-serif;
}

h3{
    font-size: 10px;
    font-style: bold;
    text-decoration: bold;
    color:rgb(126, 28, 96) ;
    text-align: center;
    font-family: sans-serif;
}

div.card {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
height: 350px;
border: 1px ;
border: 1px solid purple;
margin: 5px;



}
img {
    
    border-radius: 20px;
    padding: 5px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
}
body{
    background-color:rgb(216, 216, 185);
}
.elements-container{
    display:flex;
    margin: 10px;
    flex-wrap: wrap;
}
img {
    min-width: 90%;
    min-height: 90%;

}
.image-container{
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    cursor: pointer;
    transition: 0.25;

}
.card:hover {
    background-color: white;
    transform: scale(1.1);
    box-shadow:  0 5px 20px  rgb(243, 6, 125);
    box-shadow: inset -10px -5px 50px #464646;
    transform: scale(1.1) rotate(-8deg);
}
.green-circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color:green;
    }
.background-ellipse{
    background-color: honeydew;
    border-radius: 100%;
    width: 1000px;
    height:1000px;
    z-index: -1;
    position: absolute;
    left: 40px;
    top: 40px;


}
    
    

  


  